/* Estilização global */

.layout
{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.layout>*
{
  flex: 0.2
}

.layout>*:nth-child(2)
{
  /*rotate: 50deg;*/
  flex: 3
}

